:root{
    --primary: #6209DB; 
    --dark: #000000;
    --light: #F7F7F7;
    --white: #FFFFFF;
    --grey: #e4e4e4;
}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-light{
    color: var(--primary);
    background-color: var(--light);
}
.text-punto{
    color: var(--primary);
}
.badge1{
    background-color: var(--primary);
}
.h7{
    color: var(--primary);
}
.container3{
    background-color: var(--grey);
    width: 100%;
    height: 300px;
}
.lm{
    color: var(--primary);
}
.container5{
    background-color: var(--primary);
    color: var(--light);
}